.playground {
    position: relative;
    display: inline-block;
  }
  
  .ball {
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0px;
    animation: moving 6s infinite linear;
  }
  .playerImg{
    height: 200px;
    width: 200px;
  }

  @keyframes moving {
    0% {
        left: 0%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 0%;
    }
  }